{
  "env": { "browser": true, "es2020": true },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "prettier"
  ],
  "parserOptions": { "ecmaVersion": "latest", "sourceType": "module" },
  "settings": { "react": { "version": "17.2" }, "jest": { "version": 26 } },
  "plugins": ["@typescript-eslint", "react-refresh"],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "react-refresh/only-export-components": 0,
    "react/react-in-jsx-scope": 0,
    "react/prop-types": [2, { "ignore": ["className"] }]
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "**/*.{css, scss}",
    ".eslintrc.*",
    "dist/",
    ".stylelintrc.js",
    "vite.config.ts"
  ]
}
